@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --guidr-green: #228c1d;
  --guidr-dark: #162d10;
  --guidr-light: #f9f9f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-arimo);
  --font-mono: var(--font-geist-mono);
  --color-guidr-green: var(--guidr-green);
  --color-guidr-dark: var(--guidr-dark);
  --color-guidr-light: var(--guidr-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-arimo), Arial, Helvetica, sans-serif;
}
